<div class="login-page">
  <form class="login-form">
    <div class="login-form-content">
      <div class="form-control login-form-control">
        <label class="form-control-label" for="userName">Login</label>
        <input class="form-control-input"
               ng-model="vm.userName"
               type="text"
               id="userName"/>
      </div>
      <!--<div class="form-control login-form-control">
        <label class="form-control-label" for="password">Password</label>
        <input class="form-control-input" type="password" id="password"/>
      </div>-->
      <div class="login-form-actions">
        <button type="button"
                ng-click="vm.signIn()"
                ng-disabled="!vm.userName">Sign in</button>
      </div>
    </div>
  </form>
</div>